<%include part_head%>
	<h1><%=errorNumber%></h1>
	<h2><%=errorMessage%></h2>
	<img src="http://images3.wikia.nocookie.net/__cb20110813084417/unhalo/images/f/fc/Dickbutt.gif" style="width:40%;">
<%include part_foot%>