<%include part_head%>
<script>
	$(document).ready(function(){

	});
</script>
<div class="row">
	<div class="form_half col-md-6 ">
		<h2><%= viewUserName %> <%= viewUserPoints %> / <strong><%= viewUserPointsEver %></strong></h2>
	</div>
</div>

<%include part_foot%>